.fill-logo {
    background-color: $picton-blue;
    -webkit-box-shadow: inset -200px 0 $tundora;
    -moz-box-shadow:    inset -200px 0 $tundora;
    box-shadow:         inset -200px 0 $tundora;
    position: relative;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition:    box-shadow 0.3s;
    transition:         box-shadow 0.3s;
    &:hover {
        -webkit-box-shadow: inset 0 0 $tundora;
        -moz-box-shadow:    inset 0 0 $tundora;
        box-shadow:         inset 0 0 $tundora;
    }
}

.logo {
  display: inline-block;
  height: 55px;
  width: 100%;
  background-color: $logo-gray;

  @include svg('svg', (
    viewBox: 0 0 735.1514 86.537865,
    id: 'logo'
  )) {
    @include svg('mask', ()) {
      @include svg('g', (
        transform: 'translate(399.67267, -546.39043)'
      )) {
        // emblem
        @include svg('path', (
          d: 'm -327.1522,573.85191 8.50274,14.70684 -17.00549,0 8.50275,-14.70684 z m 31.99513,55.33728 -63.98777,0 21.32801,-36.89111 21.32926,0 21.3305,36.89111 z m -66.03606,-22.18552 -8.50275,-14.70559 17.00549,0 -8.50274,14.70559 z m -31.99264,-55.33603 63.98652,0 -21.32925,36.89111 -21.32926,0 -21.32801,-36.89111 z m 27.55403,81.26065 76.95907,0 -23.49114,-40.63021 21.85351,0 0,-3.73933 -24.01539,0 -12.82651,-22.18552 -12.82651,22.18552 -6.22603,0 23.49114,-40.63046 -76.95907,0 23.49114,40.63046 -21.85225,0 0,3.73933 24.01413,0 12.82652,22.18427 12.82651,-22.18427 6.22602,0 -23.49114,40.63021'
        ));
        @include svg('g', (
          transform: 'matrix(1,0,0,0.99597474,-369.21954,20.977199)'
        )) {
          // l
          @include svg('path', (
            d: 'm 172.83719,609.30016 0,3.13281 c -5.29889,0 -9.81256,-1.77052 -13.54281,-5.31254 -3.73222,-3.54105 -5.59614,-8.0713 -5.59614,-13.59151 l 0,-65.99222 3.58092,0 0,65.99222 c 0,4.55015 1.51153,8.31603 4.53313,11.29763 3.02257,2.98403 6.69621,4.47361 11.0249,4.47361'
          ));
          // i
          @include svg('path', (
            d: 'm 203.61543,561.20445 0,50.22132 -3.58102,0 0,-50.22132 3.58102,0 z m -1.7902,-12.3039 c -2.16566,0 -3.24567,-1.00677 -3.24567,-3.01969 0,-2.01392 1.08001,-3.02019 3.24567,-3.02019 2.16303,0 3.24505,1.00627 3.24505,3.02019 0,2.01292 -1.08202,3.01969 -3.24505,3.01969'
          ));
          // t
          @include svg('path', (
            d: 'm 253.30947,608.96459 0,3.13281 c -5.29888,0 -9.81299,-1.77052 -13.5432,-5.31449 -3.73183,-3.53959 -5.59612,-8.06979 -5.59612,-13.59012 l 0,-52.34505 3.58178,0 0,20.35671 15.44534,0 0,3.13132 -15.44534,0 0,28.85702 c 0,4.55027 1.51057,8.31757 4.53272,11.2977 3.02152,2.98452 6.69625,4.4741 11.02482,4.4741'
          ));
          // t
          @include svg('path', (
            d: 'm 297.07166,608.96459 0,3.13281 c -5.29888,0 -9.81311,-1.77052 -13.5427,-5.31449 -3.73208,-3.53959 -5.59624,-8.06979 -5.59624,-13.59012 l 0,-52.34505 3.58214,0 0,20.35671 15.4456,0 0,3.13132 -15.4456,0 0,28.85702 c 0,4.55027 1.51058,8.31757 4.53298,11.2977 3.02115,2.98452 6.69576,4.4741 11.02382,4.4741'
          ));
          // l
          @include svg('path', (
            d: 'm 341.95285,609.30016 0,3.13281 c -5.29763,0 -9.81186,-1.77052 -13.54144,-5.31254 -3.73334,-3.54105 -5.59625,-8.0713 -5.59625,-13.59151 l 0,-65.99222 3.5809,0 0,65.99222 c 0,4.55015 1.51057,8.31603 4.53297,11.29763 3.0224,2.98403 6.69576,4.47361 11.02382,4.47361'
          ));
          // e
          @include svg('path', (
            d: 'm 387.22762,563.10612 c -5.93235,0 -11.1925,2.29236 -15.7817,6.87871 -4.5892,4.58486 -6.88317,9.8617 -6.88317,15.82642 0,5.96709 1.97537,11.185 5.9311,15.65911 l 32.57044,-32.32498 c -4.62793,-4.02684 -9.90557,-6.03926 -15.83667,-6.03926 z m 1.17447,49.66193 -1.00705,0 c -7.08933,0 -13.26282,-2.66603 -18.52422,-7.99759 -5.26015,-5.33064 -7.89022,-11.53771 -7.89022,-18.6237 0,-7.08349 2.61133,-13.2154 7.83525,-18.39823 5.22141,-5.18332 11.67728,-7.77423 19.36259,-7.77423 7.68407,0 14.28862,3.05815 19.8099,9.17108 l -35.14304,34.67495 c 4.84908,3.87808 9.51325,5.81589 13.98999,5.81589 4.47675,0 8.48746,-1.02378 12.03213,-3.07524 3.54341,-2.0505 6.4721,-4.79114 8.78607,-8.22095 l 0,5.70369 c -5.29888,5.81589 -11.71601,8.72433 -19.2514,8.72433'
          ));
          // c
          @include svg('path', (
            d: 'm 459.81018,612.88023 -1.0083,0 c -7.16305,0 -13.31905,-2.64603 -18.46675,-7.9415 -5.14894,-5.294 -7.72279,-11.50108 -7.72279,-18.62316 0,-7.1197 2.61008,-13.27159 7.83399,-18.45728 5.22142,-5.18045 11.64105,-7.77274 19.2514,-7.77274 7.61035,0 14.10245,2.87186 19.47505,8.61157 l 0,5.70675 c -2.31397,-3.42887 -5.24391,-6.15251 -8.78733,-8.16643 -3.54466,-2.01392 -7.25675,-3.01907 -11.13627,-3.01907 -6.19348,0 -11.58357,2.29236 -16.17277,6.87772 -4.5892,4.58572 -6.88317,10.04849 -6.88317,16.3853 0,6.34068 2.29397,11.80258 6.88317,16.38832 4.5892,4.58531 9.97929,6.87773 16.17277,6.87773 3.87952,0 7.59161,-1.00525 11.13627,-3.01916 3.54342,-2.01391 6.47336,-4.77115 8.78733,-8.27712 l 0,5.8174 c -5.22392,5.74128 -11.67853,8.61167 -19.3626,8.61167'
          ));
          // r
          @include svg('path', (
            d: 'm 524.05397,562.99349 c -3.95573,0 -7.44292,1.49199 -10.46407,4.4741 -3.0224,2.98398 -4.53298,6.45144 -4.53298,10.40211 l 0,33.55607 -3.58215,0 0,-50.33407 3.58215,0 0,7.49479 c 1.34315,-2.53485 3.43097,-4.62294 6.2672,-6.26314 2.83498,-1.64083 6.00607,-2.46118 9.51325,-2.46118 3.50718,0 6.86568,1.19344 10.07425,3.57858 l 0,4.4736 c -3.28479,-3.28016 -6.90192,-4.92086 -10.85765,-4.92086'
          ));
          // a
          @include svg('path', (
            d: 'm 561.99701,586.37164 c 0,6.26314 2.29398,11.68845 6.88193,16.2737 4.58919,4.58629 10.03551,6.87968 16.34269,6.87968 6.30343,0 11.69602,-2.29339 16.17277,-6.87968 4.47675,-4.58525 6.71575,-10.02804 6.71575,-16.32977 0,-6.30072 -2.25899,-11.76199 -6.77197,-16.3868 -4.51548,-4.62294 -9.90557,-6.93528 -16.17277,-6.93528 -6.26845,0 -11.69728,2.33145 -16.28647,6.99134 -4.58795,4.6609 -6.88193,10.12267 -6.88193,16.38681 z m 49.46914,-25.27994 0,50.33407 -3.5809,0 0,-12.52635 c -2.09031,4.24879 -5.22266,7.60547 -9.4008,10.06517 -4.18063,2.46118 -8.65738,3.69079 -13.43149,3.69079 -7.31423,0 -13.58143,-2.58946 -18.80285,-7.77274 -5.22516,-5.18285 -7.83525,-11.38993 -7.83525,-18.62313 0,-7.23233 2.61009,-13.44041 7.83525,-18.62373 5.22142,-5.1827 11.48862,-7.77361 18.80285,-7.77361 4.77411,0 9.34582,1.26861 13.71012,3.80346 4.3668,2.53422 7.40544,5.89092 9.12217,10.0661 l 0,-12.64003 3.5809,0'
          ));
          // f
          @include svg('path', (
            d: 'm 660.82409,540.73562 0,3.13132 c -4.32931,0 -8.00267,1.49199 -11.02507,4.4751 -3.0224,2.98211 -4.53297,6.74898 -4.53297,11.29525 l 0,29.41791 15.66924,0 0,3.13282 -15.66924,0 0,19.23775 -3.5809,0 0,-51.78848 c 0,-5.51646 1.86416,-10.04662 5.595,-13.58862 3.73083,-3.54162 8.24506,-5.31305 13.54394,-5.31305'
          ));
          // t
          @include svg('path', (
            d: 'm 704.69824,608.96459 0,3.13281 c -5.30014,0 -9.81312,-1.77052 -13.5427,-5.31449 -3.73333,-3.53959 -5.5975,-8.06979 -5.5975,-13.59012 l 0,-52.34505 3.58215,0 0,20.35671 15.44684,0 0,3.13132 -15.44684,0 0,28.85702 c 0,4.55027 1.51057,8.31757 4.53297,11.2977 3.0224,2.98452 6.69701,4.4741 11.02508,4.4741'
          ));
        }
      }
    }
  }
}
