/**
 * Variables
 * ----------------------------------------------------------------------------
 */

/* Colors */

//
$alabaster: #30332E;

$gallery: #ededed;

// Background
$mine-shaft: #1E1E1E;

// Highlights, title heading backgrounds, buttons, effects
$picton-blue: #ED0744; // #EE4266;

// Title meta data backgrounds
$entry-meta: #0A0F0D;

//
$silver: #c6c6c6;

// Button backgrounds, pre-effect
$tundora: #3D3B3C;

// Text background
$white: #ffffff;







