<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> 
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
    <nav id="top" class="site-navigation">
        <div class="inner">
            <button id="menu-toggle" aria-expanded="false">Menu</button>
            <div class="nav-menu">
                <ul class="menu">
                {% for link in site.navigation %}
                  {% assign current = nil %}
                  {% if page.url == link.url %}
                    {% assign current = 'nav-current' %}
                  {% endif %}
                  <li class="{{ current }}">
                    <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
                  </li>
                {% endfor %}
                </ul>        
            </div><!-- .nav-menu -->
            <div class="main-buttons">
              {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}" class="fa-github square fill-horizontal"><span class="screen-reader-text">GitHub</span></a>
              {% endif %}
              {% if site.author_email %}
              <a href="mailto:{{ site.author_email }}" class="fa-envelope square fill-horizontal"><span class="screen-reader-text">Email</span></a>
              {% endif %}
              <a class="fa-feed square fill-horizontal" href="{{ site.baseurl }}/feed.xml"><span class="screen-reader-text">RSS</span></a>
            </div>
        </div><!-- .inner -->
    </nav><!-- .site-navigation -->
    <header class="site-header">
      <div class="inner">
        <div class="logo-container row">
          <div class="logo-element logo-emblem" style="height: 55px; width: 72px;"></div>
          <div class="logo-element logo-text" style="height: 55px; width: 357px;"></div>
        </div>
      </div>
    </header>
    <div class="site-header-spacing">
    </div>
    {{content}}
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/plugins.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/custom.js"></script>
</body>
</html>
